<!DOCTYPE html>
 <html lang="tr">  
      <head>  
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="{{il_ad}}-{{ilce_ad}} ilçesinin yıllara göre üniversite sınav sonucu yerleştirdikleri öğrenci sayısı">
          <title>{{il_ad}}-{{ilce_ad}} | Alana Göre Yerleştirme Sayıları</title>  
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>  
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
          <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          <link rel="shortcut icon" href="{{ url_for('static', filename='web_site_kafa.png') }}">
          
          <style>
          body{
               background-color:#f2f2f2;
          }
          td{
               background-color:#a3d1cc;
          }
          th{
               color:black;
          }
          
          .copyright {

            padding-top: 2.4rem;
            padding-bottom: 2.4rem;

            text-align: center;
          }
          nav {
            width: 100%;
            font-family: Montserrat;
            background-color: #A3D1CC;
            color: #fff;
            padding-bottom: 1rem;
            padding-top: 1.4rem;
            padding-left: 1.9rem;
            position: fixed;
            z-index: 900;
          }
          hr {
          border: none;
          height: 1px;
          color: #a3d1cc; 
          background-color: #a3d1cc; 
          }
          
          </style>
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=G-BJJ1P6L694"></script>
          <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-BJJ1P6L694');
          </script>
          <script data-ad-client="ca-pub-7911477799775038" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      </head>  
      <body>  
      <nav>
      <div>      
                   <a href="/" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Anasayfa</a>
            </div>
        
     </nav>
           <br><br><br><br>
           <div class="container">  
                <h1 style="text-align:center;">benimlisem.com</h1> 
                
                <h3 style="text-align:center;">Yıllara göre alan bazlı yerleşen öğrenci sayısı</h3>                 
                <br /> 
                <hr>
                <h2 style="text-align:center;">{{il_ad}}-{{ilce_ad}}</h2>
                <hr>
                <div>  
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col" class="text-center col-md-2 border border-primary rounded">2021</th>
                            <th scope="col" class="text-center col-md-5 border border-primary rounded">Yeni Mezun yerleşen kişi sayısı</th>
                            <th scope="col" class="text-center col-md-5 border border-primary rounded">Önceki Mezun yerleşen kişi sayısı</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Sayısal</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[0]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[1]}}</td>
 
                            </tr>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Eşit Ağırlık</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[8]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[9]}}</td>

                            </tr>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Sözel</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[16]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[17]}}</td>
                            </tr>

                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Dil</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[24]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[25]}}</td>
                            </tr>

                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Önlisans (2 Yıllık)</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[32]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[33]}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br><hr>
                     <table class="table">
                        <thead>
                            <tr>
                            <th scope="col" class="text-center col-md-2 border border-primary rounded">2020</th>
                            <th scope="col" class="text-center col-md-5 border border-primary rounded">Yeni Mezun yerleşen kişi sayısı</th>
                            <th scope="col" class="text-center col-md-5 border border-primary rounded">Önceki Mezun yerleşen kişi sayısı</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Sayısal</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[2]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[3]}}</td>
 
                            </tr>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Eşit Ağırlık</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[10]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[11]}}</td>

                            </tr>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Sözel</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[18]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[19]}}</td>
                            </tr>

                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Dil</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[26]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[27]}}</td>
                            </tr>

                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Önlisans (2 Yıllık)</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[34]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[35]}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br><hr>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col" class="text-center col-md-2 border border-primary rounded">2019</th>
                            <th scope="col" class="text-center col-md-5 border border-primary rounded">Yeni Mezun yerleşen kişi sayısı</th>
                            <th scope="col" class="text-center col-md-5 border border-primary rounded">Önceki Mezun yerleşen kişi sayısı</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Sayısal</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[4]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[5]}}</td>
 
                            </tr>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Eşit Ağırlık</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[12]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[13]}}</td>

                            </tr>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Sözel</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[20]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[21]}}</td>
                            </tr>

                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Dil</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[28]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[29]}}</td>
                            </tr>

                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Önlisans (2 Yıllık)</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[36]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[37]}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br><hr>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col" class="text-center col-md-2 border border-primary rounded">2018</th>
                            <th scope="col" class="text-center col-md-5 border border-primary rounded">Yeni Mezun yerleşen kişi sayısı</th>
                            <th scope="col" class="text-center col-md-5 border border-primary rounded">Önceki Mezun yerleşen kişi sayısı</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Sayısal</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[6]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[7]}}</td>
 
                            </tr>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Eşit Ağırlık</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[14]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[15]}}</td>

                            </tr>
                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Sözel</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[22]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[23]}}</td>
                            </tr>

                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Dil</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[30]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[31]}}</td>
                            </tr>

                            <tr>
                            <th scope="row" class="text-center col-md-2 border border-primary rounded">Önlisans (2 Yıllık)</th>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[38]}}</td>
                            <td class="text-center col-md-5 border border-primary rounded">{{data1[39]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
           </div> 
           <hr>
           <div class="copyright">

               <small>
                    © 2022 - benimlisem.com - Bütün hakları saklıdır.

               </small>
          </div>
           <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> 
    </body>  
 </html>  
